@{
    ViewBag.Title = "Build db";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>כאן יש לנו אפשרות לראות רשימה של מבחנים קיימים - ולערוך מבחן שנבחר כגון להוסיף שאלות</p>