@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "שגיאה";
}

<hgroup class="title">
    <h1 class="error">שגיאה.</h1>
    <h2 class="error">נוצרה שגיאה כאשר כאשר ניסינו לתפל בבקשתך.</h2>
</hgroup>
